img {
    object-fit: cover;
    width: 100%;
}

.img-clipped {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   transition: transform 0.2s ease-in-out, clip-path 0.2s ease-in-out;  
   transform: scale(1);
   height: 600px;
}

.img-normal {
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.455);
}

div {
    overflow: hidden;
}
